---
- hosts: localhost
  connection: local
  name: Use Credentials
  vars_files:
    - vault.yml
  tasks:
  - name: Make API Call
    uri:
      url: "http://localhost:5000/auth/tokens"
      method: "POST"
      url_username: "learner"
      url_password: "{{ password }}"
      return_content: true
    register: result
  
  - name: print info
    debug:
      msg: "{{ result.content }}"