---
- hosts: localhost
  connection: local
  name: Use Credentials
  vars_files:
    - vault.yml
  tasks:
  - name: Make API Call
    uri:
      url: "http://localhost:5000/auth/tokens"
      method: "POST"
      url_username: "learner"
      url_password: "{{ password }}"
      return_content: true
    register: token

  - name: Add book
    uri:
      url: "http://localhost:5000/api/books"
      method: "POST"
      headers:
        Authorization: "Bearer {{ token.content }}"
      body_format: json
      body:
        title: "Ansible is Awesome"
        author: "Victoria Lloyd"
        genre: "Technology"
        id: "0000012345"
      return_content: true
    register: book_response
  
  - name: print token info
    debug:
      msg: "{{ token.content }}"

  - name: print book response
    debug:
      msg: "{{ book_response.content }}"